<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <a style="cursor: pointer;" class="navbar-brand" routerLink="/welcome">Recipio&nbsp;<i class="fa fa-cutlery" aria-hidden="true" style="color: white;"></i></a>


            <ul class="nav">
                <li class="nav-item"><a class="nav-link" routerLink="/recipes" >Recipes</a></li>
                <li ass="nav-item"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
                <li ass="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a  class="nav-link" (click)="onSaveData()" style="cursor: pointer;" >Save</a></li>
                <li class="nav-item"><a  class="nav-link" (click)="onFetchData()" style="cursor: pointer;">Fetch</a></li>
            </ul>
    </div>
</nav>