<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>&nbsp;
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div><br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input 
                        type="text" 
                        placeholder="Enter recipe name"
                        id="name"
                        formControlName="name" 
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input 
                        type="text" 
                        placeholder="Enter image path"
                        id="imagePath" 
                        formControlName="imagePath"
                        class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <img [src]="this.recipeForm.value['imagePath']" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea 
                        type="text" 
                        placeholder="Enter recipe description" 
                        id="description" 
                        rows="6" 
                        formControlName="description"
                        class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div 
                        class="row" 
                        *ngFor="let ingredientControl of recipeForm.get('ingredients').controls; let i = index" 
                        [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input 
                                type="text" 
                                placeholder="Enter ingredient" 
                                class="form-control"
                                formControlName="name">
                        </div>&nbsp;&nbsp;
                        <div class="col-xs-2">
                            <input 
                                type="number" 
                                placeholder="Enter ingredient qty" 
                                class="form-control"
                                formControlName="amount">
                        </div>
                        &nbsp;&nbsp;
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient()">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add new </button>
                </div>
            </div>
        </form>
    </div>
</div>
