<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(shoppingForm)" #shoppingForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    name="itemname" 
                    id="name" 
                    class="form-control"
                    required
                    ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="text" 
                    name="amount" 
                    id="amount"
                    class="form-control"
                    pattern="^[1-9]+[0-9]*$"
                    required
                    ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" style="cursor: pointer;" type="submit" [disabled]="!shoppingForm.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button"(click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>